<header class="header">
    <nav class="header-nav">
        <div class="header-elements">
            <a class="header-links header-links-bold" href="{{ site.url | replace:'blog','' }}index">WEB</a>
            <a class="header-links header-links-bold" href="{{ site.url }}">BLOG</a>
            <a class="header-links header-links-bold" href="{{ site.baseurl }}/archivo/">CATEGORIAS</a>
            <a class="header-links header-links-bold" href="http://feedpress.me/scalable">RSS</a>
        </div>
        <div class="header-elements">
            <a class="header-links" href="http://github.com/jorgeatgu">GitHub</a>
            <a class="header-links" href="http://twitter.com/jorgeatgu">Twitter</a>
            <a class="header-links" href="https://jorgeatgu.carto.com/me">Carto</a>
            <a class="header-links" href="http://codepen.io/jorgeatgu">CodePen</a>
        </div>
    </nav>
</header>
