<header class="bgc-whiteGrey pos-sy top-0  border-solid border-1 borderc-grey border-l-0 border-r-0 border-t-0">
    <nav class="width-100 padding-1 maw-70--s margin-yx maw-50em--l padding-y1__5--s padding-x0--s font-0">
        <div class="width-100 display-ib--m width-50--m">
            <a class="va-m" href="{{ site.url | replace:'blog','' }}index">WEB</a>
            <a class="va-m" href="{{ site.url }}">BLOG</a>
            <a class="va-m" href="{{ site.baseurl }}/archivo/">CATEGORIAS</a>
            <a class="va-m" href="http://feedpress.me/scalable">RSS</a>
        </div>
        <div class="margin-t1 width-100 display-ib--m width-50--m texta-r--m margin-t0--m">
            <a class="text-dn padding-r1 display-ib underline custom-txt-c font-1" href="{{ site.GitHub }}">GitHub</a>
            <a class="text-dn padding-r1 display-ib underline custom-txt-c font-1" href="{{ site.twitter }}">Twitter</a>
            <a class="text-dn padding-r1 display-ib underline custom-txt-c font-1" href="{{ site.carto }}">Carto</a>
            <a class="text-dn padding-r1 display-ib underline custom-txt-c font-1" href="{{ site.CodePen }}">CodePen</a>
        </div>
    </nav>
</header>
