.border-rd1 {
  border-radius: 1px;
}

.border-rd2 {
  border-radius: 2px;
}

.border-rd3 {
  border-radius: 3px;
}

.border-rd4 {
  border-radius: 4px;
}

.border-rd5 {
  border-radius: 5px;
}

.border-rd25 {
  border-radius: 25%;
}

.border-rd50 {
  border-radius: 50%;
}

.border-rd75 {
  border-radius: 75%;
}

.border-rdt {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border-rdr {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.border-rdb {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-rdl {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media only screen and (min-width: 30em) {

  .border-rd1--s {
    border-radius: 1px;
  }

  .border-rd2--s {
    border-radius: 2px;
  }

  .border-rd3--s {
    border-radius: 3px;
  }

  .border-rd4--s {
    border-radius: 4px;
  }

  .border-rd5--s {
    border-radius: 5px;
  }

  .border-rd25--s {
    border-radius: 25%;
  }

  .border-rd50--s {
    border-radius: 50%;
  }

  .border-rd75--s {
    border-radius: 75%;
  }

  .border-rdt--s {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .border-rdr--s {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .border-rdb--s {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .border-rdl--s {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}

@media only screen and (min-width: 48em) {

  .border-rd1--m {
    border-radius: 1px;
  }

  .border-rd2--m {
    border-radius: 2px;
  }

  .border-rd3--m {
    border-radius: 3px;
  }

  .border-rd4--m {
    border-radius: 4px;
  }

  .border-rd5--m {
    border-radius: 5px;
  }

  .border-rd25--m {
    border-radius: 25%;
  }

  .border-rd50--m {
    border-radius: 50%;
  }

  .border-rd75--m {
    border-radius: 75%;
  }

  .border-rdt--m {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .border-rdr--m {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .border-rdb--m {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .border-rdl--m {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}

@media only screen and (min-width: 64em) {

  .border-rd1--l {
    border-radius: 1px;
  }

  .border-rd2--l {
    border-radius: 2px;
  }

  .border-rd3--l {
    border-radius: 3px;
  }

  .border-rd4--l {
    border-radius: 4px;
  }

  .border-rd5--l {
    border-radius: 5px;
  }

  .border-rd25--l {
    border-radius: 25%;
  }

  .border-rd50--l {
    border-radius: 50%;
  }

  .border-rd75--l {
    border-radius: 75%;
  }

  .border-rdt--l {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .border-rdr--l {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .border-rdb--l {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .border-rdl--l {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}

