.border-solid {
  border-style: solid;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

.border-none {
  border-style: none;
}

.border-1 {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-3 {
  border-width: 3px;
}

.border-4 {
  border-width: 4px;
}

.border-5 {
  border-width: 5px;
}

.border-t1 {
  border-width: 1px;
}

.border-r1 {
  border-width: 1px;
}

.border-b1 {
  border-width: 1px;
}

.border-l1 {
  border-width: 1px;
}

.border-t2 {
  border-width: 2px;
}

.border-r2 {
  border-width: 2px;
}

.border-b2 {
  border-width: 2px;
}

.border-l2 {
  border-width: 2px;
}

.border-t3 {
  border-width: 3px;
}

.border-r3 {
  border-width: 3px;
}

.border-b3 {
  border-width: 3px;
}

.border-l3 {
  border-width: 3px;
}

.border-t4 {
  border-width: 4px;
}

.border-r4 {
  border-width: 4px;
}

.border-b4 {
  border-width: 4px;
}

.border-l4 {
  border-width: 4px;
}

.border-t5 {
  border-width: 5px;
}

.border-r5 {
  border-width: 5px;
}

.border-b5 {
  border-width: 5px;
}

.border-l5 {
  border-width: 5px;
}

.borderc-black {
  border-color: var(--black);
}

.border-l-0 {
  border-left-width: 0;
}

.border-t-0 {
  border-top-width: 0;
}

.border-r-0 {
  border-right-width: 0;
}

.border-b-0 {
  border-bottom-width: 0;
}

@media only screen and (min-width: 30em) {

  .border-solid--s {
    border-style: solid;
  }

  .border-dotted--s {
    border-style: dotted;
  }

  .border-dashed--s {
    border-style: dashed;
  }

  .border-none--s {
    border-style: none;
  }

  .border-1--s {
    border-width: 1px;
  }

  .border-2--s {
    border-width: 2px;
  }

  .border-3--s {
    border-width: 3px;
  }

  .border-4--s {
    border-width: 4px;
  }

  .border-5--s {
    border-width: 5px;
  }

  .border-t1--s {
    border-width: 1px;
  }

  .border-r1--s {
    border-width: 1px;
  }

  .border-b1--s {
    border-width: 1px;
  }

  .border-l1--s {
    border-width: 1px;
  }

  .border-t2--s {
    border-width: 2px;
  }

  .border-r2--s {
    border-width: 2px;
  }

  .border-b2--s {
    border-width: 2px;
  }

  .border-l2--s {
    border-width: 2px;
  }

  .border-t3--s {
    border-width: 3px;
  }

  .border-r3--s {
    border-width: 3px;
  }

  .border-b3--s {
    border-width: 3px;
  }

  .border-l3--s {
    border-width: 3px;
  }

  .border-t4--s {
    border-width: 4px;
  }

  .border-r4--s {
    border-width: 4px;
  }

  .border-b4--s {
    border-width: 4px;
  }

  .border-l4--s {
    border-width: 4px;
  }

  .border-t5--s {
    border-width: 5px;
  }

  .border-r5--s {
    border-width: 5px;
  }

  .border-b5--s {
    border-width: 5px;
  }

  .border-l5--s {
    border-width: 5px;
  }

  .borderc-black--s {
    border-color: var(--black);
  }

  .border-l-0--s {
    border-left-width: 0;
  }

  .border-t-0--s {
    border-top-width: 0;
  }

  .border-r-0--s {
    border-right-width: 0;
  }

  .border-b-0--s {
    border-bottom-width: 0;
  }
}

@media only screen and (min-width: 48em) {

  .border-solid--m {
    border-style: solid;
  }

  .border-dotted--m {
    border-style: dotted;
  }

  .border-dashed--m {
    border-style: dashed;
  }

  .border-none--m {
    border-style: none;
  }

  .border-1--m {
    border-width: 1px;
  }

  .border-2--m {
    border-width: 2px;
  }

  .border-3--m {
    border-width: 3px;
  }

  .border-4--m {
    border-width: 4px;
  }

  .border-5--m {
    border-width: 5px;
  }

  .border-t1--m {
    border-width: 1px;
  }

  .border-r1--m {
    border-width: 1px;
  }

  .border-b1--m {
    border-width: 1px;
  }

  .border-l1--m {
    border-width: 1px;
  }

  .border-t2--m {
    border-width: 2px;
  }

  .border-r2--m {
    border-width: 2px;
  }

  .border-b2--m {
    border-width: 2px;
  }

  .border-l2--m {
    border-width: 2px;
  }

  .border-t3--m {
    border-width: 3px;
  }

  .border-r3--m {
    border-width: 3px;
  }

  .border-b3--m {
    border-width: 3px;
  }

  .border-l3--m {
    border-width: 3px;
  }

  .border-t4--m {
    border-width: 4px;
  }

  .border-r4--m {
    border-width: 4px;
  }

  .border-b4--m {
    border-width: 4px;
  }

  .border-l4--m {
    border-width: 4px;
  }

  .border-t5--m {
    border-width: 5px;
  }

  .border-r5--m {
    border-width: 5px;
  }

  .border-b5--m {
    border-width: 5px;
  }

  .border-l5--m {
    border-width: 5px;
  }

  .borderc-black--m {
    border-color: var(--black);
  }

  .border-l-0--m {
    border-left-width: 0;
  }

  .border-t-0--m {
    border-top-width: 0;
  }

  .border-r-0--m {
    border-right-width: 0;
  }

  .border-b-0--m {
    border-bottom-width: 0;
  }

}

@media only screen and (min-width: 64em) {

  .border-solid--l {
    border-style: solid;
  }

  .border-dotted--l {
    border-style: dotted;
  }

  .border-dashed--l {
    border-style: dashed;
  }

  .border-none--l {
    border-style: none;
  }

  .border-1--l {
    border-width: 1px;
  }

  .border-2--l {
    border-width: 2px;
  }

  .border-3--l {
    border-width: 3px;
  }

  .border-4--l {
    border-width: 4px;
  }

  .border-5--l {
    border-width: 5px;
  }

  .border-t1--l {
    border-width: 1px;
  }

  .border-r1--l {
    border-width: 1px;
  }

  .border-b1--l {
    border-width: 1px;
  }

  .border-l1--l {
    border-width: 1px;
  }

  .border-t2--l {
    border-width: 2px;
  }

  .border-r2--l {
    border-width: 2px;
  }

  .border-b2--l {
    border-width: 2px;
  }

  .border-l2--l {
    border-width: 2px;
  }

  .border-t3--l {
    border-width: 3px;
  }

  .border-r3--l {
    border-width: 3px;
  }

  .border-b3--l {
    border-width: 3px;
  }

  .border-l3--l {
    border-width: 3px;
  }

  .border-t4--l {
    border-width: 4px;
  }

  .border-r4--l {
    border-width: 4px;
  }

  .border-b4--l {
    border-width: 4px;
  }

  .border-l4--l {
    border-width: 4px;
  }

  .border-t5--l {
    border-width: 5px;
  }

  .border-r5--l {
    border-width: 5px;
  }

  .border-b5--l {
    border-width: 5px;
  }

  .border-l5--l {
    border-width: 5px;
  }

  .borderc-black--l {
    border-color: var(--black);
  }

  .border-l-0--l {
    border-left-width: 0;
  }

  .border-t-0--l {
    border-top-width: 0;
  }

  .border-r-0--l {
    border-right-width: 0;
  }

  .border-b-0--l {
    border-bottom-width: 0;
  }

}

