/* ==|== CATEGORIES =====================================================
   ========================================================================== */

.categoria-block {
    display: block;
    text-decoration: none;
    color: #191970;
    font-size: 1.2em;
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 1px;
    text-align: left;
}