/* COLOR COMBOS

A continuación una serie de combos accesibles.
Todos los combos han sido creados con colorable: http://jxnblk.com/colorable/demos/text/
Y con helloColor: http://jxnblk.com/hello-color/

La nomenclatura es la siguiente para el color del texto:

textColor-backgroundColor__contrastRatio {
  color: var(--blackCurrant);
}

La nomenclatura es la siguiente para el color del background:

backgroundColor-textColor__contrastRatio {
  bakcground-color: var(--fuelYellow);
}

Más combos-accesibles: http://jorgeatgu.github.io/color-combos/;

*/
:root {
  --black: #121;
  --black7: rgba(17, 34, 17, .7);
  --white: #fff;
  --grey: #ccc;
  --blackCurrant: #65065A;
  --fuelYellow: #FEC845;
  --frenchGray: #E1DCE3;
  --bunting: #271764;
  --springBud: #E5EDB7;
  --eclipse: #642626;
  --nightRider: #431729;
  --mint: #0fe1be;
  --txt-color: #1e2439;
  --bgc-color: #e2ddcc;
  --whiteGrey: #f1f1f1;
  --footerColor: #1e251f;
  --footerText: #e1d6df;
  --bgcBislai: #E1DCE3;
  --txtBislai: #271764;
  --bgcScalable: #E5EDB7;
  --txtScalable: #642626;
  --bgcAstral: #1e4b78;
  --txtAstral: #e2e0bb;
  --bgcFildrop: #0FE1BE;
  --txtFildrop: #1E2439;
  --bgcSnippets: #c2fabb;
  --bgc2Snippets: #3d0144;
  --fornoBgc: linear-gradient(150deg, var(--gradient1) 15%, var(--gradient2) 70%, var(--gradient3) 94%);
  --gradient1: #fcde9c;
  --gradient2: #e34f6f;
  --gradient3: #7c1d6f;
}

.footer-txt-c {
    color: var(--footerText);
}

.footer-bgc-c {
    background-color: var(--footerColor);
}

.custom-txt-c {
  color: var(--txt-color);
}

.custom-bgc-c {
  background-color: var(--bgc-color);
}

.custom-inv-bgc {
  background-color: var(--txt-color);
}

.custom-nv-txt {
  color: var(--bgc-color);
}

.bgc-whiteGrey {
    background-color: var(--whiteGrey);
}

.color-whiteGrey {
    color: var(--whiteGrey);
}

.color-snippets {
    color: var(--bgcSnippets2);
}

/* Primer combo */

.txt-blackCurrant-fuelYellow__7_85 {
  color: var(--blackCurrant);
}

.bgc-fuelYellow-blackCurrant__7_85 {
  background-color: var(--fuelYellow);
}

/* Segundo combo */

.txt-bunting-frenchGray__11_16 {
  color: var(--bunting);
}

.bgc-frenchGray-bunting__11_16 {
  background-color: var(--frenchGray);
}

/* Tercer combo */

.txt-eclipse-springBud__9_27 {
  color: var(--eclipse);
}

.bgc-springBud-eclipse__9_27 {
  background-color: var(--springBud);
}

/* Cuarto combo */

.txt-nightRider-mint__9 {
  color: var(--nightRider);
}

.bgc-nightRider-mint__9 {
  background-color: var(--mint);
}

/* FIN COMBOS */

.color-black {
  color: var(--black);
}

.bgc-black {
  background-color: var(--black);
}

.color-white {
  color: var(--white);
}

.bgc-white {
  background-color: var(--white);
}

.color-grey {
  color: var(--grey);
}

.bgc-grey {
  background-color: var(--grey);
}

@media only screen and (min-width: 64em) {

    .color-black--l {
      color: var(--black);
    }

    .forno-bgc {
        background: var(--fornoBgc);
    }

    .bgc-black--l {
      background-color: var(--black);
    }

    .color-white--l {
      color: var(--white);
    }

    .bgc-white--l {
      background-color: var(--white);
    }

    .color-grey--l {
      color: var(--grey);
    }

    .bgc-grey--l {
      background-color: var(--grey);
    }

    .custom-txt-c--l {
      color: var(--txt-color);
    }

    .custom-bgc-c--l {
      background-color: var(--bgc-color);
    }

    .custom-inv-bgc--l {
      background-color: var(--txt-color);
    }

    .custom-inv-txt--l {
      color: var(--bgc-color);
    }

    .bislai-bgc {
        background-color: var(--bgcBislai);
    }

    .bislai-txt {
        color: var(--txtBislai);
    }

    .scalable-bgc {
        background-color: var(--bgcScalable);
    }

    .scalable-txt {
        color: var(--txtScalable);
    }

    .snippets-bgc {
        background-color: var(--bgcSnippets);
    }

    .snippets-bgc-two {
        background-color: var(--bgc2Snippets);
    }

    .fildrop-bgc {
        background-color: var(--bgcFildrop);
    }

    .fildrop-txt {
        color: var(--txtFildrop);
    }

    .astral-bgc {
        background-color: var(--bgcAstral);
    }

    .astral-txt {
        color: var(--txtAstral);
    }

    .astral-bgc-inv {
        background-color: var(--txtAstral);
    }

    .astral-txt-inv {
        color: var(--bgcAstral);
    }

}
