/* COLOR COMBOS

A continuación una serie de combos accesibles.
Todos los combos han sido creados con colorable: http://jxnblk.com/colorable/demos/text/
Y con helloColor: http://jxnblk.com/hello-color/

La nomenclatura es la siguiente para el color del texto:

textColor-backgroundColor__contrastRatio {
  color: var(--blackCurrant);
}

La nomenclatura es la siguiente para el color del background:

backgroundColor-textColor__contrastRatio {
  bakcground-color: var(--fuelYellow);
}

Más combos-accesibles: http://jorgeatgu.github.io/color-combos/;

*/

:root {
  --black: #121;
  --white: #fff;
  --grey: #ccc;
  --blackCurrant: #65065A;
  --fuelYellow: #FEC845;
  --frenchGray: #E1DCE3;
  --bunting: #271764;
  --springBud: #E5EDB7;
  --eclipse: #642626;
  --nightRider: #431729;
  --mint: #0fe1be;
  --customText: #fabada;
  --customBackground: #fabada;
}

.custom-c-txt {
  color: var(--customText);
}

.custom-c-bgc {
  background-color: var(--customBackground);
}


/*Primer combo*/

.txt-blackCurrant-fuelYellow__7_85 {
  color: var(--blackCurrant);
}

.bgc-fuelYellow-blackCurrant__7_85 {
  background-color: var(--fuelYellow);
}


/*Segundo combo*/

.txt-bunting-frenchGray__11_16 {
  color: var(--bunting);
}

.bgc-frenchGray-bunting__11_16 {
  background-color: var(--frenchGray);
}


/*Tercer combo*/

.txt-eclipse-springBud__9_27 {
  color: var(--eclipse);
}

.bgc-springBud-eclipse__9_27 {
  background-color: var(--springBud);
}


/*Cuarto combo*/

.txt-nightRider-mint__9 {
  color: var(--nightRider);
}

.bgc-nightRider-mint__9 {
  background-color: var(--mint);
}


/*FIN COMBOS*/

.color-black {
  color: var(--black);
}

.bgc-black {
  background-color: var(--black);
}

.color-white {
  color: var(--white);
}

.bgc-white {
  background-color: var(--white);
}

.color-grey {
  color: var(--grey);
}

.bgc-grey {
  background-color: var(--grey);
}
