.boton-centrar {
    border: 0;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    color: var(--impureBlack);
}

.post-autores-tag {
    font-size: .75rem;
    background-color: #E5EDB7;
    color: #642626;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 5px 10px 0;
    display: inline-block;
}

.btn {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    border: 1px solid #a9a9a9;
    color: var(--impureBlack);
    font-weight: 600;
    background-color: #f8f8ff;
    display: inline-block;
    width: auto;
    max-width: 250px;
    &:hover {
      background-color: var(--impureBlack);
      color: #f8f8ff;
    }
}

.btn-anterior,
.btn-posterior {
  display: block;
  margin: 0 auto;
}

.btn-posterior {
  margin-top: 1rem;
}

.scalable-leanpub {
    font-size: 1rem;
    text-align: left;
    display: inline-block;
    color: #28323e;
    text-decoration: none;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px solid #e2d3d3;
    border-bottom: 1px solid #e2d3d3;
    span {
        font-weight: 600;
        color: var(--impureBlack);
        display: block;
    }
}

.border-excerpt {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e2d3d3;
    p {
        margin: 0;
    }
}

.va-m {
    display: inline-block;
    vertical-align: middle;
}
