.panel-poison {
	margin-top: 20px;
	text-align: left;
	padding: 20px 0;
  font-size: 0;
  svg {
    width: 20px;
    height: 20px;
  }
}

.panel-poison-left,
.panel-poison-right {
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.footer-l {
  text-decoration: none;
  color: var(--impureBlack);
}
