.panel-poison {
    margin-top: 2rem;
    text-align: left;
    padding: 2rem 0;
    font-size: 0;
}

.panel-poison-left,
.panel-poison-right {
    font-size: 1rem;
    font-family: var(--fontTitle);
    display: inline-block;
    width: 100%;
}

.footer-l {
    color: var(--impureBlack);
    font-weight: 400;
    &:hover {
        font-weight: bold;
    }
}
