.header {
    background-color: var(--f1);
    padding: 1rem;
    width: 100%;
    font-size: 0;
    margin-bottom: 3rem;
}

.header-nav {
    max-width: 50rem;
    margin: 0 auto;
}

.header-elements {
    width: 100%;
    display: block;
}

.header-links {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    color: #1e2439;
    font-family: var(--title);

    &:not(:last-child) {
        padding-right: 1rem;
    }

    &:hover {
        text-decoration: underline;
    }
}

.header-links-bold {
    font-weight: bold;
}

@media only screen and (min-width: 48rem) {

    .header {
        padding: 2rem;
    }

    .header-elements {
        width: 50%;
        display: inline-block;

    }

}
