.header {
    width: 100%;
}

.header-nav {
    width: 100%;
    display: block;
    font-size: 0;
}

.menu-principal {
    width: 100%;
    padding: 0;
    font-size: 0;
    margin: 0;
    .menu-principal-li {
        width: auto;
        display: inline-block;
        cursor: pointer;
        &:first-child {
            padding-right: 10px;
        }
        a {
            list-style: none;
            text-decoration: none;
            font-size: 24px;
            letter-spacing: 1px;
            font-weight: 600;
            color: var(--impureBlack);
        }
    }
}

.header-social {
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    font-size: 0;
    .header-social-icons {
        list-style: none;
        text-decoration: none;
        display: inline-block;
        margin: 0;
        padding: 5px 10px;
        &:first-child,
        &:last-child {
            background-color: var(--impureBlack);
        }
        &:nth-child(2) {
            background-color: var(--bgcTwitter);
        }
        &:last-child {
            margin-right: 0;
        }
        .iconos-footer {
            width: 32px;
            height: 32px;
        }
    }
}