pre,
code {
    font-family: monospace;
}

code {

    font-size: 20px;
}

pre > code:before {
    content: "CODE: " attr(data-lang);
    display: block;
    padding: .4em 0 1em 0;
    text-transform: uppercase;

    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
}

pre {
    padding: 1em;
    font-size: 13px;
    line-height: 1.3em;
    margin: 0;
    overflow: auto;
    margin-bottom: .88em;
    background-color: beige;
    border-left: 5px solid #ED143D;
    code {
        font-size: 14px;
    }
}

​ .hll {
    background-color: #ffffcc;
}

.c {
    color: #999988;
    font-style: italic;
}
/* Comment */

.err {
    color: #a61717;
    background-color: #e3d2d2;
}
/* Error */
/* Keyword */

.k,
.o {

    font-weight: bold;
}


/* Operator */

.cm,
.c1 {
    color: #999988;
    font-style: italic;
}
/* Comment.Multiline */

.cp,
.cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
}


.gd {

    background-color: #ffdddd;
}
/* Generic.Deleted */

.ge {

    font-style: italic;
}
/* Generic.Emph */

.gr,
.gt {
    color: #aa0000;
}
/* Generic.Heading */

.gi {

    background-color: #ddffdd;
}
/* Generic.Inserted */

.go {
    color: #888;
}
/* Generic.Output */

.gp {
    color: #555;
}
/* Generic.Prompt */

.gs {
    font-weight: bold;
}
/* Generic.Strong */

.gu {
    color: #aaa;
}

.kc,
.kd,
.kn,
.kp,
.kr {

    font-weight: bold;
}
/* Keyword.Reserved */

.kt {
    color: #445588;
    font-weight: bold;
}
/* Keyword.Type */

.na,
.no {
    color: #008080;
}
/* Name.Attribute */

.nb {
    color: #0086B3;
}
/* Name.Builtin */

.nc {
    color: #445588;
    font-weight: bold;
}
/* Name.Constant */

.nd {
    color: #3c5d5d;
    font-weight: bold;
}
/* Name.Decorator */

.ni {
    color: #800080;
}
/* Name.Entity */

.ne,
.nf,
.nl {
    color: #990000;
    font-weight: bold;
}

.nn {
    color: #555;
}
/* Name.Namespace */

.nt {
    color: #000080;
}

.ow {

    font-weight: bold;
}
/* Operator.Word */

.w {
    color: #bbb;
}
/* Text.Whitespace */

.mf,
.mh,
.mi,
.mo,
.il,
.m {
    color: #009999;
}

/* Literal.Number.Oct */

.sb,
.sc,
.sd,
.s2,
.se,
.sh,
.si,
.sx,
.s1,
.s {
    color: #dd1144;
}

/* Literal.String.Other */

.sr {
    color: #009926;
}
/* Literal.String.Regex */
/* Literal.String.Single */

.ss {
    color: #990073;
}
/* Literal.String.Symbol */
.gh,
.bp {
    color: #999;
}
/* Name.Builtin.Pseudo */

.vc,
.vg,
.vi,
.nv {
    color: #008080;
}