* {
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: var(--fontText);
    color: var(--impureBlack);
    background-color: var(--bgGeneral);
}

.container-boira {
    padding: 0 2rem;
}

img {
    max-width: 100%;
    display: block;
}

iframe {
    max-width: 300px;
    display: block;
}

:--cabeceras {
    font-weight: 700;
    color: #001F3F;
    font-family: var(--fontTitle);
    line-height: 1.1;
}

:--textos,
:--cabeceras {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.post-contenido-container {
    &:not(:last-child) {
        margin-bottom: 2rem;
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
    }
}

.color-autor {
    color: aliceblue;
}

.categoria-titulo,
.categoria-titulo-index {
    text-decoration: none;
    color: #001F3F;
}

.categoria-titulo-index {
    font-family: var(--fontTitle);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 1rem;
    width: 100%;
}

.articulo-fecha {
    font-size: 12px;
    font-family: var(--fontSystem);
    font-weight: 700;
    color: var(--clrAutores);
    text-align: left;
    margin: 0;
    width: 100%;
}

.categoria-fecha {
    font-size: 14px;
    color: #E45C5B;
    text-align: left;
    margin-bottom: .5rem;
}

.post-contenido {
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    font-family: var(--fontSerif);
    font-weight: 400;
    list-style: none;
    color: var(--impureBlack);
    strong {
        font-weight: bold;
    }
}

.post-contenido-enlace {
    text-decoration: none;
    color: var(--impureBlack);
    font-size: .88rem;
}

.post-contenido-texto {
    font-size: 1rem;
    max-width: 35rem;
}

.paginacion {
    font-size: 0;
    text-align: center;
    &.post-contenido {
        margin-top: 0;
        padding: 0;
    }
}

blockquote {
    background-color: #ECF0F5;
    padding: 1rem;
    margin: 1.5rem;
    border-left: 7px solid crimson;
}

.archivado {
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    .archivado-texto {
        color: var(--clrArchivo);
        font-weight: 600;
    }
}
