body {
    background-color: ghostwhite;
    text-align: center;
}

.contenedor {
    width: 100%;
}

/* ==|== CATEGORIES =====================================================
   ========================================================================== */

.categoria-block {
    display: block;
    text-decoration: none;
    color: #191970;
    font-size: 1.2em;
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 1px;
    text-align: left;
}

.proxima-nova {
    font-family: "ff-meta-web-pro", serif;
    font-style: normal;
}

.post-contenido.enlaces {
    padding-bottom: 0;
}

img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

iframe {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}