.letter-0__12 {
  letter-spacing: .125rem;
}

.letter-0__25 {
  letter-spacing: .25rem;
}

.letter-0__5 {
  letter-spacing: .5rem;
}

.letter-1 {
  letter-spacing: 1rem;
}


@media only screen and (min-width: 30em) {

  .letter-0__12--s {
    letter-spacing: .125rem;
  }

  .letter-0__25--s {
    letter-spacing: .25rem;
  }

  .letter-0__5--s {
    letter-spacing: .5rem;
  }

  .letter-1--s {
    letter-spacing: 1rem;
  }
}

@media only screen and (min-width: 48em) {

  .letter-0__12--m {
    letter-spacing: .125rem;
  }

  .letter-0__25--m {
    letter-spacing: .25rem;
  }

  .letter-0__5--m {
    letter-spacing: .5rem;
  }

  .letter-1--m {
    letter-spacing: 1rem;
  }

}

@media only screen and (min-width: 64em) {

  .letter-0__12--l {
    letter-spacing: .125rem;
  }

  .letter-0__25--l {
    letter-spacing: .25rem;
  }

  .letter-0__5--l {
    letter-spacing: .5rem;
  }

  .letter-1--l {
    letter-spacing: 1rem;
  }

}


