.lh-1 {
    line-height: 1;
}

.lh-1__25 {
    line-height: 1.25;
}

.lh-1__5 {
    line-height: 1.5;
}


@media only screen and (min-width: 30em) {

    .lh-1--s {
        line-height: 1;
    }

    .lh-1__25--s {
        line-height: 1.25;
    }

    .lh-1__5--s {
        line-height: 1.5;
    }

}

@media only screen and (min-width: 48em) {

    .lh-1--m {
        line-height: 1;
    }

    .lh-1__25--m {
        line-height: 1.25;
    }

    .lh-1__5--m {
        line-height: 1.5;
    }

}

@media only screen and (min-width: 64em) {

    .lh-1--l {
        line-height: 1;
    }

    .lh-1__25--l {
        line-height: 1.25;
    }

    .lh-1__5--l {
        line-height: 1.5;
    }

}
