.ls-none {
    list-style-type: none;
}

.ls-circle {
    list-style-type: circle;
}

.ls-square {
    list-style-type: square;
}

.ls-roman {
    list-style-type: upper-roman;
}

@media only screen and (min-width: 30em) {

    .ls-none--s {
        list-style-type: none;
    }

    .ls-circle--s {
        list-style-type: circle;
    }

    .ls-square--s {
        list-style-type: square;
    }

    .ls-roman--s {
        list-style-type: upper-roman;
    }

}

@media only screen and (min-width: 48em) {


    .ls-none--m {
        list-style-type: none;
    }

    .ls-circle--m {
        list-style-type: circle;
    }

    .ls-square--m {
        list-style-type: square;
    }

    .ls-roman--m {
        list-style-type: upper-roman;
    }

}

@media only screen and (min-width: 64em) {

    .ls-none--l {
        list-style-type: none;
    }

    .ls-circle--l {
        list-style-type: circle;
    }

    .ls-square--l {
        list-style-type: square;
    }

    .ls-roman--l {
        list-style-type: upper-roman;
    }

}
