.margin-0 {
  margin: 0;
}

.margin-t0 {
  margin-top: 0;
}

.margin-r0 {
  margin-right: 0;
}

.margin-b0 {
  margin-bottom: 0;
}

.margin-l0 {
  margin-left: 0;
}

.margin-yx {
  margin: 0 auto;
}

.margin-y0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-x0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-0__5 {
  margin: .5rem;
}

.margin-t0__5 {
  margin-top: .5rem;
}

.margin-r0__5 {
  margin-right: .5rem;
}

.margin-b0__5 {
  margin-bottom: .5rem;
}

.margin-l0__5 {
  margin-left: .5rem;
}

.margin-y0__5 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.margin-x0__5 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.margin-1 {
  margin: 1rem;
}

.margin-t1 {
  margin-top: 1rem;
}

.margin-r1 {
  margin-right: 1rem;
}

.margin-b1 {
  margin-bottom: 1rem;
}

.margin-l1 {
  margin-left: 1rem;
}

.margin-y1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-x1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-t2 {
  margin-top: 2rem;
}

.margin-r2 {
  margin-right: 2rem;
}

.margin-b2 {
  margin-bottom: 2rem;
}

.margin-l2 {
  margin-left: 2rem;
}

.margin-y2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-x2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-3 {
  margin: 3rem;
}

.margin-t3 {
  margin-top: 3rem;
}

.margin-r3 {
  margin-right: 3rem;
}

.margin-b3 {
  margin-bottom: 3rem;
}

.margin-l3 {
  margin-left: 3rem;
}

.margin-y3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-x3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.margin-5 {
  margin: 5rem;
}

.margin-t5 {
  margin-top: 5rem;
}

.margin-r5 {
  margin-right: 5rem;
}

.margin-b5 {
  margin-bottom: 5rem;
}

.margin-l5 {
  margin-left: 5rem;
}

.margin-y5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.margin-x5 {
  margin-left: 5rem;
  margin-right: 5rem;
}


@media only screen and (min-width: 30em) {

  .margin-0--s {
    margin: 0;
  }

  .margin-t0--s {
    margin-top: 0;
  }

  .margin-r0--s {
    margin-right: 0;
  }

  .margin-b0--s {
    margin-bottom: 0;
  }

  .margin-l0--s {
    margin-left: 0;
  }

  .margin-yx--s {
    margin: 0 auto;
  }

  .margin-y0--s {
    margin-top: 0;
    margin-bottom: 0;
  }

  .margin-x0--s {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-0__5--s {
    margin: .5rem;
  }

  .margin-t0__5--s {
    margin-top: .5rem;
  }

  .margin-r0__5--s {
    margin-right: .5rem;
  }

  .margin-b0__5--s {
    margin-bottom: .5rem;
  }

  .margin-l0__5--s {
    margin-left: .5rem;
  }

  .margin-y0__5--s {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .margin-x0__5--s {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .margin-1--s {
    margin: 1rem;
  }

  .margin-t1--s {
    margin-top: 1rem;
  }

  .margin-r1--s {
    margin-right: 1rem;
  }

  .margin-b1--s {
    margin-bottom: 1rem;
  }

  .margin-l1--s {
    margin-left: 1rem;
  }

  .margin-y1--s {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .margin-x1--s {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .margin-2--s {
    margin: 2rem;
  }

  .margin-t2--s {
    margin-top: 2rem;
  }

  .margin-r2--s {
    margin-right: 2rem;
  }

  .margin-b2--s {
    margin-bottom: 2rem;
  }

  .margin-l2--s {
    margin-left: 2rem;
  }

  .margin-y2--s {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .margin-x2--s {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .margin-3--s {
    margin: 3rem;
  }

  .margin-t3--s {
    margin-top: 3rem;
  }

  .margin-r3--s {
    margin-right: 3rem;
  }

  .margin-b3--s {
    margin-bottom: 3rem;
  }

  .margin-l3--s {
    margin-left: 3rem;
  }

  .margin-y3--s {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .margin-x3--s {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .margin-5--s {
    margin: 5rem;
  }

  .margin-t5--s {
    margin-top: 5rem;
  }

  .margin-r5--s {
    margin-right: 5rem;
  }

  .margin-b5--s {
    margin-bottom: 5rem;
  }

  .margin-l5--s {
    margin-left: 5rem;
  }

  .margin-y5--s {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .margin-x5--s {
    margin-left: 5rem;
    margin-right: 5rem;
  }

}

@media only screen and (min-width: 48em) {

  .margin-0--m {
    margin: 0;
  }

  .margin-t0--m {
    margin-top: 0;
  }

  .margin-r0--m {
    margin-right: 0;
  }

  .margin-b0--m {
    margin-bottom: 0;
  }

  .margin-l0--m {
    margin-left: 0;
  }

  .margin-yx--m {
    margin: 0 auto;
  }

  .margin-y0--m {
    margin-top: 0;
    margin-bottom: 0;
  }

  .margin-x0--m {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-0__5--m {
    margin: .5rem;
  }

  .margin-t0__5--m {
    margin-top: .5rem;
  }

  .margin-r0__5--m {
    margin-right: .5rem;
  }

  .margin-b0__5--m {
    margin-bottom: .5rem;
  }

  .margin-l0__5--m {
    margin-left: .5rem;
  }

  .margin-y0__5--m {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .margin-x0__5--m {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .margin-1--m {
    margin: 1rem;
  }

  .margin-t1--m {
    margin-top: 1rem;
  }

  .margin-r1--m {
    margin-right: 1rem;
  }

  .margin-b1--m {
    margin-bottom: 1rem;
  }

  .margin-l1--m {
    margin-left: 1rem;
  }

  .margin-y1--m {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .margin-x1--m {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .margin-2--m {
    margin: 2rem;
  }

  .margin-t2--m {
    margin-top: 2rem;
  }

  .margin-r2--m {
    margin-right: 2rem;
  }

  .margin-b2--m {
    margin-bottom: 2rem;
  }

  .margin-l2--m {
    margin-left: 2rem;
  }

  .margin-y2--m {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .margin-x2--m {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .margin-3--m {
    margin: 3rem;
  }

  .margin-t3--m {
    margin-top: 3rem;
  }

  .margin-r3--m {
    margin-right: 3rem;
  }

  .margin-b3--m {
    margin-bottom: 3rem;
  }

  .margin-l3--m {
    margin-left: 3rem;
  }

  .margin-y3--m {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .margin-x3--m {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .margin-5--m {
    margin: 5rem;
  }

  .margin-t5--m {
    margin-top: 5rem;
  }

  .margin-r5--m {
    margin-right: 5rem;
  }

  .margin-b5--m {
    margin-bottom: 5rem;
  }

  .margin-l5--m {
    margin-left: 5rem;
  }

  .margin-y5--m {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .margin-x5--m {
    margin-left: 5rem;
    margin-right: 5rem;
  }

}

@media only screen and (min-width: 64em) {

  .margin-0--l {
    margin: 0;
  }

  .margin-t0--l {
    margin-top: 0;
  }

  .margin-r0--l {
    margin-right: 0;
  }

  .margin-b0--l {
    margin-bottom: 0;
  }

  .margin-l0--l {
    margin-left: 0;
  }

  .margin-yx--l {
    margin: 0 auto;
  }

  .margin-y0--l {
    margin-top: 0;
    margin-bottom: 0;
  }

  .margin-x0--l {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-0__5--l {
    margin: .5rem;
  }

  .margin-t0__5--l {
    margin-top: .5rem;
  }

  .margin-r0__5--l {
    margin-right: .5rem;
  }

  .margin-b0__5--l {
    margin-bottom: .5rem;
  }

  .margin-l0__5--l {
    margin-left: .5rem;
  }

  .margin-y0__5--l {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .margin-x0__5--l {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .margin-1--l {
    margin: 1rem;
  }

  .margin-t1--l {
    margin-top: 1rem;
  }

  .margin-r1--l {
    margin-right: 1rem;
  }

  .margin-b1--l {
    margin-bottom: 1rem;
  }

  .margin-l1--l {
    margin-left: 1rem;
  }

  .margin-y1--l {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .margin-x1--l {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .margin-2--l {
    margin: 2rem;
  }

  .margin-t2--l {
    margin-top: 2rem;
  }

  .margin-r2--l {
    margin-right: 2rem;
  }

  .margin-b2--l {
    margin-bottom: 2rem;
  }

  .margin-l2--l {
    margin-left: 2rem;
  }

  .margin-y2--l {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .margin-x2--l {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .margin-3--l {
    margin: 3rem;
  }

  .margin-t3--l {
    margin-top: 3rem;
  }

  .margin-r3--l {
    margin-right: 3rem;
  }

  .margin-b3--l {
    margin-bottom: 3rem;
  }

  .margin-l3--l {
    margin-left: 3rem;
  }

  .margin-y3--l {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .margin-x3--l {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .margin-5--l {
    margin: 5rem;
  }

  .margin-t5--l {
    margin-top: 5rem;
  }

  .margin-r5--l {
    margin-right: 5rem;
  }

  .margin-b5--l {
    margin-bottom: 5rem;
  }

  .margin-l5--l {
    margin-left: 5rem;
  }

  .margin-y5--l {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .margin-x5--l {
    margin-left: 5rem;
    margin-right: 5rem;
  }

}
