.overflow-h {
  overflow: hidden;
}

.overflow-v {
  overflow: visible;
}

.overflow-scr {
  overflow: scroll;
}

.overflow-a {
  overflow: auto;
}

.overflow-i {
  overflow: initial;
}

.overflow-ih {
  overflow: inherit;
}

@media only screen and (min-width: 30em) {

  .overflow-h--s {
    overflow: hidden;
  }

  .overflow-v--s {
    overflow: visible;
  }

  .overflow-scr--s {
    overflow: scroll;
  }

  .overflow-a--s {
    overflow: auto;
  }

  .overflow-i--s {
    overflow: initial;
  }

  .overflow-ih--s {
    overflow: inherit;
  }

}

@media only screen and (min-width: 48em) {


  .overflow-h--m {
    overflow: hidden;
  }

  .overflow-v--m {
    overflow: visible;
  }

  .overflow-scr--m {
    overflow: scroll;
  }

  .overflow-a--m {
    overflow: auto;
  }

  .overflow-i--m {
    overflow: initial;
  }

  .overflow-ih--m {
    overflow: inherit;
  }

}

@media only screen and (min-width: 64em) {

  .overflow-h--l {
    overflow: hidden;
  }

  .overflow-v--l {
    overflow: visible;
  }

  .overflow-scr--l {
    overflow: scroll;
  }

  .overflow-a--l {
    overflow: auto;
  }

  .overflow-i--l {
    overflow: initial;
  }

  .overflow-ih--l {
    overflow: inherit;
  }

}
