.padding-0 {
  padding: 0;
}

.padding-t0 {
  padding-top: 0;
}

.padding-r0 {
  padding-right: 0;
}

.padding-b0 {
  padding-bottom: 0;
}

.padding-l0 {
  padding-left: 0;
}

.padding-y0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-x0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-1 {
  padding: 1rem;
}

.padding-t1 {
  padding-top: 1rem;
}

.padding-r1 {
  padding-right: 1rem;
}

.padding-b1 {
  padding-bottom: 1rem;
}

.padding-l1 {
  padding-left: 1rem;
}

.padding-y1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-x1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-t2 {
  padding-top: 2rem;
}

.padding-r2 {
  padding-right: 2rem;
}

.padding-b2 {
  padding-bottom: 2rem;
}

.padding-l2 {
  padding-left: 2rem;
}

.padding-y2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-x2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-3 {
  padding: 3rem;
}

.padding-t3 {
  padding-top: 3rem;
}

.padding-r3 {
  padding-right: 3rem;
}

.padding-b3 {
  padding-bottom: 3rem;
}

.padding-l3 {
  padding-left: 3rem;
}

.padding-y3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-x3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-5 {
  padding: 5rem;
}

.padding-t5 {
  padding-top: 5rem;
}

.padding-r5 {
  padding-right: 5rem;
}

.padding-b5 {
  padding-bottom: 5rem;
}

.padding-l5 {
  padding-left: 5rem;
}

.padding-y5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.padding-x5 {
  padding-left: 5rem;
  padding-right: 5rem;
}


@media only screen and (min-width: 30em) {

  .padding-0--s {
    padding: 0;
  }

  .padding-t0--s {
    padding-top: 0;
  }

  .padding-r0--s {
    padding-right: 0;
  }

  .padding-b0--s {
    padding-bottom: 0;
  }

  .padding-l0--s {
    padding-left: 0;
  }

  .padding-y0--s {
    padding-top: 0;
    padding-bottom: 0;
  }

  .padding-x0--s {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-1--s {
    padding: 1rem;
  }

  .padding-t1--s {
    padding-top: 1rem;
  }

  .padding-r1--s {
    padding-right: 1rem;
  }

  .padding-b1--s {
    padding-bottom: 1rem;
  }

  .padding-l1--s {
    padding-left: 1rem;
  }

  .padding-y1--s {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .padding-x1--s {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-2--s {
    padding: 2rem;
  }

  .padding-t2--s {
    padding-top: 2rem;
  }

  .padding-r2--s {
    padding-right: 2rem;
  }

  .padding-b2--s {
    padding-bottom: 2rem;
  }

  .padding-l2--s {
    padding-left: 2rem;
  }

  .padding-y2--s {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-x2--s {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .padding-3--s {
    padding: 3rem;
  }

  .padding-t3--s {
    padding-top: 3rem;
  }

  .padding-r3--s {
    padding-right: 3rem;
  }

  .padding-b3--s {
    padding-bottom: 3rem;
  }

  .padding-l3--s {
    padding-left: 3rem;
  }

  .padding-y3--s {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-x3--s {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .padding-5--s {
    padding: 5rem;
  }

  .padding-t5--s {
    padding-top: 5rem;
  }

  .padding-r5--s {
    padding-right: 5rem;
  }

  .padding-b5--s {
    padding-bottom: 5rem;
  }

  .padding-l5--s {
    padding-left: 5rem;
  }

  .padding-y5--s {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .padding-x5--s {
    padding-left: 5rem;
    padding-right: 5rem;
  }

}

@media only screen and (min-width: 48em) {

  .padding-0--m {
    padding: 0;
  }

  .padding-t0--m {
    padding-top: 0;
  }

  .padding-r0--m {
    padding-right: 0;
  }

  .padding-b0--m {
    padding-bottom: 0;
  }

  .padding-l0--m {
    padding-left: 0;
  }

  .padding-y0--m {
    padding-top: 0;
    padding-bottom: 0;
  }

  .padding-x0--m {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-1--m {
    padding: 1rem;
  }

  .padding-t1--m {
    padding-top: 1rem;
  }

  .padding-r1--m {
    padding-right: 1rem;
  }

  .padding-b1--m {
    padding-bottom: 1rem;
  }

  .padding-l1--m {
    padding-left: 1rem;
  }

  .padding-y1--m {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .padding-x1--m {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-2--m {
    padding: 2rem;
  }

  .padding-t2--m {
    padding-top: 2rem;
  }

  .padding-r2--m {
    padding-right: 2rem;
  }

  .padding-b2--m {
    padding-bottom: 2rem;
  }

  .padding-l2--m {
    padding-left: 2rem;
  }

  .padding-y2--m {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-x2--m {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .padding-3--m {
    padding: 3rem;
  }

  .padding-t3--m {
    padding-top: 3rem;
  }

  .padding-r3--m {
    padding-right: 3rem;
  }

  .padding-b3--m {
    padding-bottom: 3rem;
  }

  .padding-l3--m {
    padding-left: 3rem;
  }

  .padding-y3--m {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-x3--m {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .padding-5--m {
    padding: 5rem;
  }

  .padding-t5--m {
    padding-top: 5rem;
  }

  .padding-r5--m {
    padding-right: 5rem;
  }

  .padding-b5--m {
    padding-bottom: 5rem;
  }

  .padding-l5--m {
    padding-left: 5rem;
  }

  .padding-y5--m {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .padding-x5--m {
    padding-left: 5rem;
    padding-right: 5rem;
  }

}

@media only screen and (min-width: 64em) {

  .padding-0--l {
    padding: 0;
  }

  .padding-t0--l {
    padding-top: 0;
  }

  .padding-r0--l {
    padding-right: 0;
  }

  .padding-b0--l {
    padding-bottom: 0;
  }

  .padding-l0--l {
    padding-left: 0;
  }

  .padding-y0--l {
    padding-top: 0;
    padding-bottom: 0;
  }

  .padding-x0--l {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-1--l {
    padding: 1rem;
  }

  .padding-t1--l {
    padding-top: 1rem;
  }

  .padding-r1--l {
    padding-right: 1rem;
  }

  .padding-b1--l {
    padding-bottom: 1rem;
  }

  .padding-l1--l {
    padding-left: 1rem;
  }

  .padding-y1--l {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .padding-x1--l {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-2--l {
    padding: 2rem;
  }

  .padding-t2--l {
    padding-top: 2rem;
  }

  .padding-r2--l {
    padding-right: 2rem;
  }

  .padding-b2--l {
    padding-bottom: 2rem;
  }

  .padding-l2--l {
    padding-left: 2rem;
  }

  .padding-y2--l {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-x2--l {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .padding-3--l {
    padding: 3rem;
  }

  .padding-t3--l {
    padding-top: 3rem;
  }

  .padding-r3--l {
    padding-right: 3rem;
  }

  .padding-b3--l {
    padding-bottom: 3rem;
  }

  .padding-l3--l {
    padding-left: 3rem;
  }

  .padding-y3--l {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-x3--l {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .padding-5--l {
    padding: 5rem;
  }

  .padding-t5--l {
    padding-top: 5rem;
  }

  .padding-r5--l {
    padding-right: 5rem;
  }

  .padding-b5--l {
    padding-bottom: 5rem;
  }

  .padding-l5--l {
    padding-left: 5rem;
  }

  .padding-y5--l {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .padding-x5--l {
    padding-left: 5rem;
    padding-right: 5rem;
  }

}
