.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

.pos-s {
  position: static;
}

.pos-sy {
  position: sticky;
  position: -webkit-sticky; /* Safari iOS */
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.top-0__5 {
  top: .5rem;
}

.right-0__5 {
  right: .5rem;
}

.bottom-0__5 {
  bottom: .5rem;
}

.left-0__5 {
  left: .5rem;
}

.top-1 {
  top: 1rem;
}

.right-1 {
  right: 1rem;
}

.bottom-1 {
  bottom: 1rem;
}

.left-1 {
  left: 1rem;
}

.top-2 {
  top: 2rem;
}

.right-2 {
  right: 2rem;
}

.bottom-2 {
  bottom: 2rem;
}

.left-2 {
  left: 2rem;
}


@media only screen and (min-width: 30em) {

  .pos-r--s {
    position: relative;
  }

  .pos-a--s {
    position: absolute;
  }

  .pos-f--s {
    position: fixed;
  }

  .pos-s--s {
    position: static;
  }

  .pos-sy--s {
    position: sticky;
    position: -webkit-sticky; /* Safari iOS */
  }

  .top-0--s {
    top: 0;
  }

  .right-0--s {
    right: 0;
  }

  .bottom-0--s {
    bottom: 0;
  }

  .left-0--s {
    left: 0;
  }

  .top-0__5--s {
    top: .5rem;
  }

  .right-0__5--s {
    right: .5rem;
  }

  .bottom-0__5--s {
    bottom: .5rem;
  }

  .left-0__5--s {
    left: .5rem;
  }

  .top-1--s {
    top: 1rem;
  }

  .right-1--s {
    right: 1rem;
  }

  .bottom-1--s {
    bottom: 1rem;
  }

  .left-1--s {
    left: 1rem;
  }

  .top-2--s {
    top: 2rem;
  }

  .right-2--s {
    right: 2rem;
  }

  .bottom-2--s {
    bottom: 2rem;
  }

  .left-2--s {
    left: 2rem;
  }

}

@media only screen and (min-width: 48em) {

  .pos-r--m {
    position: relative;
  }

  .pos-a--m {
    position: absolute;
  }

  .pos-f--m {
    position: fixed;
  }

  .pos-s--m {
    position: static;
  }

  .pos-sy--m {
    position: sticky;
    position: -webkit-sticky; /* Safari iOS */
  }

  .top-0--m {
    top: 0;
  }

  .right-0--m {
    right: 0;
  }

  .bottom-0--m {
    bottom: 0;
  }

  .left-0--m {
    left: 0;
  }

  .top-0__5--m {
    top: .5rem;
  }

  .right-0__5--m {
    right: .5rem;
  }

  .bottom-0__5--m {
    bottom: .5rem;
  }

  .left-0__5--m {
    left: .5rem;
  }

  .top-1--m {
    top: 1rem;
  }

  .right-1--m {
    right: 1rem;
  }

  .bottom-1--m {
    bottom: 1rem;
  }

  .left-1--m {
    left: 1rem;
  }

  .top-2--m {
    top: 2rem;
  }

  .right-2--m {
    right: 2rem;
  }

  .bottom-2--m {
    bottom: 2rem;
  }

  .left-2--m {
    left: 2rem;
  }

}

@media only screen and (min-width: 64em) {

  .pos-r--l {
    position: relative;
  }

  .pos-a--l {
    position: absolute;
  }

  .pos-f--l {
    position: fixed;
  }

  .pos-s--l {
    position: static;
  }

  .pos-sy--l {
    position: sticky;
    position: -webkit-sticky; /* Safari iOS */
  }

  .top-0--l {
    top: 0;
  }

  .right-0--l {
    right: 0;
  }

  .bottom-0--l {
    bottom: 0;
  }

  .left-0--l {
    left: 0;
  }

  .top-0__5--l {
    top: .5rem;
  }

  .right-0__5--l {
    right: .5rem;
  }

  .bottom-0__5--l {
    bottom: .5rem;
  }

  .left-0__5--l {
    left: .5rem;
  }

  .top-1--l {
    top: 1rem;
  }

  .right-1--l {
    right: 1rem;
  }

  .bottom-1--l {
    bottom: 1rem;
  }

  .left-1--l {
    left: 1rem;
  }

  .top-2--l {
    top: 2rem;
  }

  .right-2--l {
    right: 2rem;
  }

  .bottom-2--l {
    bottom: 2rem;
  }

  .left-2--l {
    left: 2rem;
  }

}

