@media only screen and (min-width: 48em) {

    iframe {
        max-width: 600px;
    }

    .container-boira {
        width: 40rem;
        margin-left: 10vw;
    }

    .header,
    .post-contenido,
    .categorita-titulo {
        padding: 0;
    }

    .panel-poison.post-contenido {
        margin: 30px 0;
    }

    .categoria-titulo h1,
    .categoria-titulo-index {
        font-size: 30px;
    }

    .panel-poison-left,
    .panel-poison-right {
      width: 50%;
    }

    .panel-poison-right {
      text-align: right;
    }

    .btn-posterior {
        margin-left: 5%;
    }

    .btn-anterior {
        margin-right: 5%;
    }

    .btn-posterior,
    .btn-anterior {
      display: inline-block;
    }
}
