/* ===== == = === desde 48em (768px) === = == ===== */

@media only screen and (min-width: 48rem) {
    .header-nav {
        padding-top: 1rem;
        font-size: 0;
        display: block;
    }

    .menu-principal {
        padding: 0;
        width: 50%;
    }

    .menu-principal-li a {
        padding: 0;
        display: inline-block;
        border-bottom: 0;
    }

    .social-header.post-contenido {
        width: 49%;
        display: inline-block;
        text-align: right;
    }

    iframe {
        max-width: 600px;
    }

    .container-boira {
        width: 80%;
        margin: 0 auto;
    }

    .post-contenido,
    .categorita-titulo {
        padding: 0;
    }

    .panel-poison.post-contenido {
        margin: 2rem 0;
    }

    .categoria-titulo h1,
    .categoria-titulo-index {
        font-size: 1.25rem;
    }

    .panel-poison-left,
    .panel-poison-right {
        width: 50%;
    }

    .panel-poison-right {
        text-align: right;
    }

    .btn-posterior {
        margin-left: 5%;
    }

    .btn-anterior {
        margin-right: 5%;
    }

    .btn-posterior,
    .btn-anterior {
        display: inline-block;
    }

}

@media only screen and (min-width: 64rem) {
    .container-boira {
        width: 40rem;
        margin: 0 auto;
        max-width: 40rem;
    }

    .enlaces {
        margin-bottom: 1rem;
    }

}

/* ===== == = === 64em (1367px) === = == ===== */

@media only screen and (min-width: 85.43rem) {
    .container-boira {
        width: 50%;
    }
}
