:root {
    --bgGeneral: #FFFFFD;
    --bgcHeader: #f8f8ff;
    --fontSystem: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    --clrAutores: #85144B;
    --impureBlack: #121;
    --clrArchivo: #642626;
    --bgcTwitter: #00ACEE;
}

@custom-selector :--cabeceras h1, h2, h3, h4, h5, h6;
@custom-selector :--textos h1, h2, h3, h4, h5, h6, ul, p;
