:root {
    --bgGeneral: #FFFFFD;
    --bgcHeader: #f8f8ff;
    --title: 'Rubik', sans-serif;
    --text: 'IBM Plex Serif', serif;
    --clrAutores: #85144B;
    --impureBlack: #121;
    --clrArchivo: #642626;
    --bgcTwitter: #00ACEE;
    --f1: #f1f1f1;
}

/* stylelint-disable */

@custom-selector :--cabeceras h1,
h2,
h3,
h4,
h5,
h6;
@custom-selector :--textos h1,
h2,
h3,
h4,
h5,
h6,
ul,
p;

/* stylelint-enable */
