.vertical-am {
  vertical-align: middle;
}

.vertical-at {
  vertical-align: top;
}

.vertical-ba {
  vertical-align: baseline;
}

.vertical-bo {
  vertical-align: bottom;
}

@media only screen and (min-width: 30em) {

  .vertical-am--s {
    vertical-align: middle;
  }

  .vertical-at--s {
    vertical-align: top;
  }

  .vertical-ba--s {
    vertical-align: baseline;
  }

  .vertical-bo--s {
    vertical-align: bottom;
  }

}

@media only screen and (min-width: 48em) {

  .vertical-am--m {
    vertical-align: middle;
  }

  .vertical-at--m {
    vertical-align: top;
  }

  .vertical-ba--m {
    vertical-align: baseline;
  }

  .vertical-bo--m {
    vertical-align: bottom;
  }

}

@media only screen and (min-width: 64em) {

  .vertical-am--l {
    vertical-align: middle;
  }

  .vertical-at--l {
    vertical-align: top;
  }

  .vertical-ba--l {
    vertical-align: baseline;
  }

  .vertical-bo--l {
    vertical-align: bottom;
  }

}


